.card {
  padding: 0.5em;
  background-color: #f5f5f518;
  border-radius: 1rem;
  font-weight: bold;
  margin-top: 0.5rem;
  vertical-align: middle;
  will-change: filter;
  transition: filter 300ms;
}
.card:hover {
  filter: drop-shadow(0 0 2em #7b81f7c0);
}

.card .card-icon {
  height: 4rem;
  float: left;
  position: relative;
  top: 50%;
  transform: translateY(15%);
}

.card-link .card-description {
  color: #BBB;
  font-size: smaller;
  font-weight: normal;
}

.card-link p {
  color: whitesmoke;
}





/* LIGHT THEME VERSIONS */
@media (prefers-color-scheme: light) {
  .card {
    background-color: #0f0f0f18;
  }
  .card:hover {
    filter: drop-shadow(0 0 2em #7b81f7c0);
  }
  .card-link .card-description {
    color: #3d3d3d;
  }
  .card-link p {
    color: #202224;
  }
}
