#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

hr {
  border-radius: 1em;
  border-color: #fbab6177;
}

.section-heading {
  padding-bottom: 0em;
  margin-bottom: 0em;
  font-size: x-large;
}

.section-description {
  padding-top: 0em;
  margin-top: 0em;
  color: #AAA;
}

.card {
  padding: 0.5em;
  background-color: #f5f5f518;
  border-radius: 1rem;
  font-weight: bold;
  margin-top: 0.5rem;
  vertical-align: middle;
}

.card .card-icon {
  height: 4rem;
  float: left;
  position: relative;
  top: 50%;
  transform: translateY(15%);
}

.card-link .card-description {
  color: #BBB;
  font-size: smaller;
  font-weight: normal;
}

.card-link p {
  color: whitesmoke;
}

.faded-text {
  color: #888;
}
