body {
    background-image: linear-gradient(#313338, #010101);
    padding: 0px;
    margin: 0px 6%;
    border: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


#indexBackground {
    background-image: linear-gradient(#313338, #010101);
}


.center {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}


header {
    background-color: #313338;
    color: whitesmoke;
}


.contentSection {
    color: whitesmoke;
}


#pronounsLabel {
    padding: 12px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px 4px 2px;
    background-color: black; 
    color: whitesmoke; 
    /*border: 2px solid #5865F2;*/
    border-radius: 24px;
}


#navMenu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: black;
    overflow: hidden;
}

#navMenu li {
    float: left;
}

#navMenu a {
    display: block;
    padding: 8px;
    color: whitesmoke;
    text-align: center;
    padding: 14px 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
}

#navMenu a:hover {
    background-color: #5865F2;
    color: whitesmoke;
}

#navMenu .currentPage {
    background-color: grey;
    color: black;
}



a {
    color: cyan;
}


h1 {
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
}


h4 {
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 1%;
}

ul li {
    margin: 5px;
}


#themeButton {
    padding: 12px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white; 
    color: black; 
    border: 2px solid #5865F2;
    border-radius: 12px;
}

#themeButton:hover {
    background-color: #5865F2;
    color: white;
}


/* Icons for "Where you can find me" section */
/* #link-Discord {
    list-style-image: url('../assets/logos/discord-logo.png');
}

#link-Twitch {
    list-style-image: url('../assets/logos/twitch-logo.png');
}

#link-Cohost {
    list-style-image: url('../assets/logos/cohost-eggbug.png');
}

#link-Reddit {
    list-style-image: url('../assets/logos/reddit-logo.png');
}

#link-GitHub {
    list-style-image: url('../assets/logos/github-logo.png');
}

#link-Tumblr {
    list-style-image: url('../assets/logos/tumblr-logo.png');
}

#link-Steam {
    list-style-image: url('../assets/logos/steam-logo.png');
} */
