body.light-theme {
    background-image: linear-gradient(whitesmoke, lightgray);
    padding: 0px;
    margin: 0px 6%;
    border: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


#indexBackground.light-theme {
    background-image: linear-gradient(whitesmoke, lightgray);
}


.center.light-theme {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}


header.center.light-theme {
    background-color: whitesmoke;
    color: black;
}


.contentSection.light-theme {
    color: black;
}


.center.light-theme a {
    color: #5865F2;
}


.light-theme #pronounsLabel {
    padding: 12px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px 4px 2px;
    background-color: lightgray; 
    color: black; 
    /*border: 2px solid #5865F2;*/
    border-radius: 24px;
}


.light-theme#navMenu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: lightgray;
    overflow: hidden;
}

.light-theme#navMenu li {
    float: left;
}

.light-theme#navMenu a {
    display: block;
    padding: 8px;
    color: black;
    text-align: center;
    padding: 14px 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
}

.light-theme#navMenu a:hover {
    background-color: #5865F2;
    color: whitesmoke;
}

.light-theme#navMenu .currentPage {
    background-color: grey;
    color: black;
}



h1 {
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
}


.center.light-theme h4 {
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 1%;
}

.center.light-theme ul li {
    margin: 5px;
}


#themeButton.light-theme {
    padding: 12px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: black; 
    color: whitesmoke; 
    border: 2px solid #5865F2;
    border-radius: 12px;
}

#themeButton:hover {
    background-color: #5865F2;
    color: white;
}


/* Icons for "Where you can find me" section */
/* .light-theme #link-Discord {
    list-style-image: url('../assets/logos/dark/discord-logo.png');
}

.light-theme #link-Twitch {
    list-style-image: url('../assets/logos/twitch-logo.png');
}

.light-theme #link-Cohost {
    list-style-image: url('../assets/logos/cohost-eggbug.png');
}

.light-theme #link-GitHub {
    list-style-image: url('../assets/logos/dark/github-logo.png');
}

.light-theme #link-Tumblr {
    list-style-image: url('../assets/logos/dark/tumblr-logo.png');
}

.light-theme #link-Steam {
    list-style-image: url('../assets/logos/steam-logo.png');
} */
